<div>
    <div class="navbarr">
        <nav class="navbar navbar-expand-lg ">
            <div class="p-0">
                <h1>MOBITRAK</h1>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" placeholder="Search IMEI Number">
                            </div>
                        </a>
                    </li>

                </ul>
                <div class="float_right">
                    <button class="btn">Sign In </button>
                    <button class="btn">Sign Up </button>
                </div>
            </div>

        </nav>
    </div>


    <div class="main position-relative">
        <div class="position-absolute t-l-50">
            <div class="text-center">
                <p class="font-size-48 m-b-0">Mobitrak Application</p>
                <p class="font-size-36 m-b-2">Download From Here</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../assets/images/applestore.png">
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/googlestore.png">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>