<!-- <div class="container-fluid">
  <app-landing></app-landing>
  <app-profile></app-profile>
</div> -->
<app-header-component></app-header-component>
<div class="contentPart">
  <pre style="display: none;">
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
    sfddf
    sfddffsd
    fsd
    fsd
    fsd
  </pre>
  <router-outlet></router-outlet>
</div>
<app-footer-component></app-footer-component>