@import "../../../styles.scss";
.main {
  height: 452px;
  background: url("../../../assets/images/pre.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

.navbar {
  padding: 10px 30px;
  background: linear-gradient(to right, #0536a0, #029cdc, #029cdc);
  color: $color-white;
  border-bottom: 1px solid $color-white;
}
.navbar a {
  color: #32353c;
  margin-right: 30px;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav > li > a { 
  color: $color-white; 
  cursor: pointer;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 2rem;
  width: 300px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

//modal 
.modal {
  background: url('../../../assets/images/popupBg.png') no-repeat;
  background-size: cover;
  background-position: center center;
    .close {
      position: absolute;
      right: 1%;
      top: 5%;
      background: #fff;
      border: 1px solid #ccc;
      opacity: 1;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      height: 30px;
      width: 30px;
      font-size: 26px;
      color: #238bcb;
    }
    .modal-dialog {
      position: absolute;
      right: 10%;
    }
}

@media (max-width: 576px) {
  .t-l-50 {
    top: 40px;
    right: 0px;
  }
  .navbarr{
    padding: 10px;
  }

}
